.album
{
    position: relative;
    display: inline-block;
    margin: 5px 11px;
    cursor: pointer;
}

.album img:hover
{
    cursor: pointer;
    opacity: .9;
}

.album_current_true img
{
    opacity: .7;
}

.album_current_true img:hover
{
    opacity: .7;
}

.album_content_empty:hover:before
{
    line-height: 2em;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    content: 'Альбом пустой';
    text-align: center;
    background-color: rgba(255, 255, 255, .7);
}