.album
{
    display: inline-block;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
}

.album img:hover
{
    opacity: .9;
    cursor: pointer;
}

.album_current_true img
{
    opacity: .7;
}

.album_current_true img:hover
{
    opacity: .7;
}

.album_content_empty:hover:before
{
    content: 'Альбом пустой';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    line-height: 2em;
}